/* Styling for FullCalendar */
.fc {
    font-family: 'Roboto', sans-serif;
}
.fc * table {
    margin: 0px !important;
}

.fc-event {
    font-size: 0.8em;
    cursor: pointer;
    margin: 0.5px;
    background-color: #2F86EB;
    border: 1px solid #1e87ff;
}

div.ui-tooltip {
    max-width: 300px;
    z-index: 9999;
    background-color: #ffffff;
}

.oh-event {
    background-color: #6abc67;
    border: 1px solid #127010;
}

.hw-party-event {
    background-color: #0223fc;
    border: 1px solid #127010;
}

.special-event {
    background-color: #ffa735;
    border: 1px solid #bc6700;
}

.prof-event {
    background-color: #ff4136;
    border: 1px solid #d6372f;
}

.lecture-event {
    background-color: #DB76FF;
    border: 1px solid #B409F2;
}

.qtip-light {
    font-size: 14px;
    line-height: 1em;
}
